body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
    color: #ffffff;
}

#formContainer {
    background: #333333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    width: 300px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="email"], input[type="password"], button {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #222;
    color: #ddd;
    font-weight: 700;
}

button {
    background-color: #0066cc;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 900;
}

button:hover {
    background-color: #0056b3;
}

h2 {
    color: #76ff03;
    font-weight: 900;
}
