# Navigate to your project directory if you haven't already
cd path\to\ProjectBackend\RegisterLoginCode

(This was run on windows powershell, it may use different commands depending on how you run this

# Create a virtual environment named 'venv', python needs to be installed
python -m venv venv

# Activate the virtual environment
.\venv\Scripts\Activate.ps1

#Install Flask, Flask-SQLAlchemy, Flask-CORS, and any other dependencies your project might need.
pip install Flask Flask-SQLAlchemy Flask-CORS

#Run the code
python RegisterCode.py

#Code should run on http://localhost:5000 by this point.


