/* /static/css/style.css */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212; /* Dark background */
    color: #ffffff; /* Light text */
}

#formContainer {
    background: #333333; /* Slightly lighter than body for contrast */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    width: 300px; /* Fixed width for forms */
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="email"], input[type="password"], button {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #555; /* Darker border for inputs */
    font-weight: 700; /* Bold text for inputs */
}

input[type="text"], input[type="email"], input[type="password"] {
    background-color: #222; /* Dark input fields */
    color: #ddd; /* Light text */
}

button {
    background-color: #0066cc; /* Blue buttons */
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 900; /* Extra bold for buttons */
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

h2 {
    color: #76ff03; /* Neon green headers */
    margin-top: 0;
    font-weight: 900; /* Extra bold for headers */
}
